@page
@model DotnetCoreExample.Pages.DemoCoreModel
@{
    ViewData["trainer"] = "Akhil";
    ViewData["Company"] = "Anusha";
    ViewData["Location"] = "Buna";
}
<p>Trainer Name is : <b> @ViewData["trainer"]</b></p>
<p>Company is : <b> @ViewData["Company"]</b></p>
<p>Location : <b> @ViewData["Location"]</b></p>